<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rashwan.redditclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RedditClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.feature.browseFrontPage.BrowseFrontPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.feature.subredditDetails.SubredditDetailsActivity"
            android:parentActivityName=".ui.feature.browseFrontPage.BrowseFrontPageActivity">

        </activity>
        <activity
            android:name=".ui.feature.userDetails.UserDetailsActivity"
            android:parentActivityName=".ui.feature.browseFrontPage.BrowseFrontPageActivity">

        </activity>
        <activity android:name=".ui.feature.postDetails.PostDetailsActivity"
            android:parentActivityName=".ui.feature.browseFrontPage.BrowseFrontPageActivity">

        </activity>
        <provider
            android:authorities="com.rashwan.redditclient"
            android:name=".data.provider.RedditPostContentProvider"
            android:exported="true"
            android:syncable="true"/>
        <receiver android:name=".widget.RedditClientWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/reddit_client_provider_info"/>
        </receiver>
        <service
            android:name=".widget.RedditClientWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>